<div class="group-container column-full">
  <h4>{{name}}</h4>
  <div class="clearfix">
    {{#group}}
      <div class="item-container column-multi" data-id="{{id}}">
        <div class="item-inner">
          {{name}}
        </div>
      </div>
    {{/group}}
  </div>
</div>
