<div class="group-container column-full">
  <h4>{{name}}</h4>
  <div class="clearfix">
    {{#group}}
      <a class="item-container column-multi" data-id="{{id}}" href="{{url}}" target="_blank">
        <div class="image" style="background-image: url({{images.full}})"></div>
        <div class="item-inner">
          {{name}}
        </div>
      </a>
    {{/group}}
  </div>
</div>
