<div class="header">
  <span class="logo">DANIEL ST-GERMAIN</span>
  <nav>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
      <li class="social"></li>
      <li><a href="https://www.linkedin.com/in/dan-st-germain-594a0923" target="_blank"><span class="icon">T</span></a></li>
      <li><a href="https://github.com/dstgermain" target="_blank"><span class="icon">U</span></a></li>
    </ul>
  </nav>
</div>