<div class="header">
  <span class="logo home">DANIEL ST-GERMAIN</span>
  <nav>
    <ul>
      <li class="home">Home</li>
      <li class="about">About</li>
      <li class="resume">Resume</li>
      <li class="social"></li>
      <li><a href="mailto:dan@stgerma.in"><span class="icon">M</span></a></li>
      <li><a href="https://www.linkedin.com/in/dan-st-germain-594a0923" target="_blank"><span class="icon">T</span></a></li>
      <li><a href="https://github.com/dstgermain" target="_blank"><span class="icon">U</span></a></li>
    </ul>
  </nav>
</div>